$color1: rgb(255, 255, 238) !default; // darkest
$color2: rgb(128, 0, 0) !default; // lightest
$color3: rgb(128, 0, 0) !default; // lighter
$color4: rgb(128, 0, 0) !default; // vibrant
$color5: #000000 !default; // not white
$color6: #df405a !default; // error red
$color7: #79bd9a !default; // succ green
$color8: #ffffff !default; // not black
